* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #bbb;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
nav {
    width: 30vw;
    height: 100vh;
    background-color: #777;
    border-right: solid 3px #000;
}
.navGroup {
    border-bottom: solid 3px #000;
}
.navGroup__header {
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
}
.navGroup__list {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #888;
    border: none;
    margin: 10px 0;
}
.navGroup__list:hover, .nav__button:hover {
    cursor: pointer;
    background-color: #ddd;
}
.navGroup__list--actual {
    background-color: #ddd;
}
.navGroup__list__name {
    padding-left: 20px;
}
.nav__button {
    width: 100%;
    padding: 10px;
    background-color: #888;
    border: none;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.nav__header {
    text-transform: uppercase;
    word-spacing: 3px;
    padding-bottom: 10px;
}
.nav__input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
}
main {
    width: 68vw;
    height: 100vh;
}
header {
    margin: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    word-spacing: 6px;
}
.addNewTask {
    width: 100%;
    display: flex;
    margin-left: 10px;
}
.addNewTask__input {
    width: 75%;
    height: 40px;
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    padding-left: 15px;
}
.addNewTask__input:focus {
    outline: none;
}
.addNewTask__icon {
    margin: auto 0;
    border: 3px solid black;
    padding: 8px;
    padding-right: 12px;
    height: 40px;
    width: 40px;
    border-radius: 0 20px 20px 0;
    background-color: #999;
}
.addNewTask__icon:hover {
    cursor: pointer;
    background-color: #ddd;
}
.task {
    display: flex;
    padding: 20px;
    margin: 10px;
    width: 50vw;
    height: 60px;
    border: solid 3px black;
    border-radius: 60px;
}
.task__text {
    padding-right: 10px;
    margin: auto 0;
}
.task__remove-button {
    margin: auto 0;
}
.task__remove-button:hover {
    cursor: pointer;
    font-size: 20px;
}